.load {
    background-color: #efefef;
    border: none;
    padding: 0.6em 1em;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1em;
    border: 2px solid transparent;
    transition: 0.4s;
    margin-bottom: 0.8em;
    border-radius: 10px;
    height: 80px;
    width: 220px;
  }
  
  .load:hover {
    color: #dac76a;
    border-color: #dac76a;
    background-color: transparent;
  }

  .text-alert{
      color: #c2653a;
      font-size: medium;
      font-family: cursive;
      margin-bottom: 40px;
      margin-top: 20px;
  }